---
http_interactions:
- request:
    method: get
    uri: https://devapps-restapi.ottawa.ca/devapps/search?appStatus=all&appType=all&authKey=4r5T2egSmKm5&bounds=0,0,0,0&searchText=fake_kevino&ward=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ott-Cache:
      - '10'
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 3-5004641-5004644 NNYY CT(0 0 0) RT(1613353490270 32) q(0 0 0 -1) r(1 1) U12
    body:
      encoding: ASCII-8BIT
      string: '{"devApps":[],"totalDevApps":0,"index":0,"limit":0}'
  recorded_at: Mon, 15 Feb 2021 01:44:50 GMT
recorded_with: VCR 6.0.0
